.container{
    margin: 10px;
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
    padding-right:5px;
    width: 800px;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: blueviolet;

}
.btn,.stop{
    width: 100px;
    height: 5px;
    padding:20px;
    gap:20px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:100px;
    marging:25px;
}